{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cauldron edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li class="btn btn-default">
        <a href="{{ path('company_show', { 'id' : app.request.get('company_id')}) }}">
            {% trans %}action.back_to_list{%endtrans%}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
