{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cauldron creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cauldron', { 'company_id' : app.request.get('company_id')}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
