{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}cauldron.new{%endtrans%}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li class="btn btn-default">
        <a href="{{ path('company_show', { 'id' : app.request.get('company_id')}) }}">
            {% trans %}action.back_to_list{%endtrans%}
        </a>
    </li>
</ul>
{% endblock %}
