{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}company.edit{%endtrans%}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li class="btn btn-default">
        <a href="{{ path('company') }}">
            {% trans %}action.back_to_list{%endtrans%}
        </a>
    </li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
