{% extends '::base.html.twig' %}

{% block body %}
    
<div class="col-md-12">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock body %}


{% block footer %}
    {% include '::footer.html.twig' %}
{% endblock %}     
