{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{% trans %}raport.generate{%endtrans%}</h1>

    <form {{ form_enctype(form) }} method="POST" class="form-actions">
        {{ form_widget(form) }}
        <div class="form-row">
            <input type="submit" value="{{ 'raport.generate'|trans }}" class="btn btn-primary"/>
        </div>
    </form>

{% endblock %}